{% extends "base.html" %}
{% block title %}Par mums - Dream Fluff{% endblock %}
{% block content %}
    <h2>Par skolēnu mācību uzņēmumu Dream Fluff</h2>
    <p>Dream Fluff tika izveidots 2023. gadā Junior Achievements Latvia projekta ietvaros. <p>    
    <p> Mēs piedāvājam paštaisītas rotaļlietas. Rotaļlietas ir roku darbs, tās veidotas no mīkstas dzijas, kas nekairina ādu, pildijums nav sintētisks, tāpēc tas ir drošs arī pašiem mazākajiem.</p>

    <h2>Mērķis</h2>
    <p>Piedāvāt ar rokām gatavotas rotaļlietas, kuras ar savu ārējo izskatu ieinteresē ik vienu, gan mazos, gan lielos.</p>
    <h2>Pieseko mums sociālajos tīklos, lai ātrāk uzzinātu jaunumus! </h2>
    <p>Instagram - @smu.dreamfluff</p>
{% endblock %}