{% extends "base.html" %}
{% block title %}Komanda{% endblock %}
{% block content %}
    <h2>Mūsu komanda sastāv no trīs 12. klases skolniecēm.</h2>

    <div style="display: flex; gap: 40px; align-items: center; flex-wrap: wrap;">
        <div style="text-align: center;">
           
            <p><strong>Una</strong><br>Uzņēmuma vadītāja un produkta izgatavotāja.</p>
        </div>
        <div style="text-align: center;">
            
            <p><strong>Laura</strong><br>Mārketinga speciāliste.</p>
        </div>
        <div style="text-align: center;">
            
            <p><strong>Tīna</strong><br>Finanšu speciāliste.</p>
        </div>
        
    </div>
{% endblock %}